<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li><a href="/home">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/works">WORKS</a></li>
        <li><a href="/gallery">GALLERY</a></li>
      </ul>
    </nav>
    <h1>GALLERY</h1>
    <section class="shrekGallery">
      <img class="shrek" src="/images/shrek1.jpg" alt="shrek1" />
      <img class="shrek" src="/images/shrek2.jpg" alt="shrek2" />
      <img class="shrek" src="/images/shrek3.jpg" alt="shrek3" />
      <img class="shrek" src="/images/shrek4.jpg" alt="shrek4" />
    </section>
  </body>
</html>
