<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul class="navbar">
        <li><a href="/home">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/works">WORKS</a></li>
        <li><a href="/gallery">GALLERY</a></li>
      </ul>
    </nav>
    <h1>THIS IS MY WORKS PAGE</h1>
    <p class="aboutShrek">He works really hard</p>
  </body>
</html>
